{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 9"]
      },
      "modules": false,
      "debug": false
    }],
    ["stage-2"]
  ],
  "plugins": [
    "transform-runtime"
  ]
}